In [85]:
from selenium import webdriver
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service as ChromeService
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
from tabulate import tabulate
from datetime import datetime
from pathlib import Path
import numpy as np
from io import StringIO
import re
import pandas as pd
import requests
import json
import time

In [2]:
def get_ticker_information(ticker):
    
    headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36'}

    ticker_information = requests.get(f"https://efts.sec.gov/LATEST/search-index?keysTyped={ticker}", headers=headers)

    response = ticker_information.content.decode()#["hits"]["hits"][0]["_source"]["entity"]
    entity_name = json.loads(response)["hits"]["hits"][0]["_source"]["entity"]
    
    return entity_name

In [378]:
class Consolidated_Schedule_Investments():
    def __init__(self, ticker, entity_name, url):
        self.ticker = ticker
        self.entity_name = entity_name
        self.url = url
    
    def save_File(self, data, filename):

        with pd.ExcelWriter(filename) as writer:
            for sheet_name, df in data:
                df.to_excel(writer, sheet_name=sheet_name, index=False)
        
        # path = Path(filename)
        # df = pd.DataFrame(data)
        # df.to_csv(path, index=False)
    
    def get_table_of_url(self, driver):

        urls = []
        reporting_dates = []

        table = driver.find_element(By.XPATH, '//*[@id="hits"]/table')
        rows = table.find_elements(By.TAG_NAME, 'tr')
        
        for i in range(1, len(rows)):
            cell = driver.find_element(By.XPATH, f'//*[@id="hits"]/table/tbody/tr[{i}]/td[1]/a')
            data_adsh = cell.get_attribute('data-adsh')
            data_adsh = data_adsh.replace('-','')
            data_file_name = cell.get_attribute('data-file-name')
            cell_reporting_date = driver.find_element(By.XPATH, f'//*[@id="hits"]/table/tbody/tr[{i}]/td[3]').text
            unformated_date = datetime.strptime(cell_reporting_date, "%Y-%m-%d")
            reporting_dates.append(cell_reporting_date)

            url = f"https://www.sec.gov/Archives/edgar/data/{self.ticker}/{data_adsh}/{data_file_name}"
            urls.append(url)
        
        return urls, reporting_dates

    
    # Function to extract the target table based on specific heuristics
    def extract_table(self, soup):
        tables = soup.find_all('table')
        candidate_tables = []

        for table in tables:
            # print(repr(table.text))
            # Heuristics to identify the correct table
            # Example: Select tables with more than 2 rows and 2 columns
            rows = table.find_all('tr')
            if len(rows) > 10:
                i = 0
                while True:
                    if rows[i].text != '\n\n\n\n':
                        cols = rows[i].find_all(['td'])
                        break

                    i +=1
                # if rows[5].text != '\n\n\n\n':
                #     cols = rows[5].find_all(['td'])
                # else:
                #     cols = rows[4].find_all(['td'])
                # print(repr(rows[5].text))
                # if len(cols) > 12:
                if "Initial" in rows[1].text:
                    candidate_tables.append(table)
        
        # If multiple tables match, refine selection logic
        if len(candidate_tables) > 1:
            # Example: Further refine based on specific row or column content
            choices = ["Co-Investments", "Primary Private Investment Funds", "Secondary Private Investment Funds"]
            for table in candidate_tables:
                if any(x in str(table) for x in choices):
                    continue
                else:
                    remove_idx = candidate_tables.index(table)
                    candidate_tables.pop(remove_idx)
            return candidate_tables  # Fallback to the first candidate

        return None
    
    def amg_pantheon_fund(self):

        dataframes = []

        driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))
        driver.implicitly_wait(5)
        driver.maximize_window()
        driver.get(self.url)
        time.sleep(3)

        

        urls_dates = self.get_table_of_url(driver)
        dates = urls_dates[1]
        urls = urls_dates[0]
        headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36'}
        
        for j in range(len(urls)):
            while True:
                r = requests.get(urls[j], headers=headers)
                if r.status_code == 200:
                    soup = BeautifulSoup(r.text, 'html.parser')
                    break

            target_table = self.extract_table(soup)
            firts_text = False
            full_text_table = ""

            for table in target_table:
                if target_table:
                    texts = table.text
                    texts = texts.replace('\xa0', '')
                    texts = texts.replace('\u2003', '')
                    texts = texts.strip('\n\t ')
                    texts = texts.replace('\n \n', '\n\n')
                    texts = texts.replace('Initial\nAcquisition', 'Security\tInitial Acquisition')
                    texts = texts.replace('Initial Acquisition\nDate', 'Security\tInitial Acquisition Date')
                    texts = texts.replace('InitialAcquisitionDate', 'Security\tInitial Acquisition Date')
                    texts = texts.replace('PercentofNet\nAssets', 'Percent of Net Assets')
                    texts = re.sub(r'(?<=\w)(\n)+Secondary', ' \nSecondary',texts)
                    texts = texts.replace(' (continued)', '')
                    texts = texts.replace('\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', '\t\t\t\t\n')
                    texts = texts.replace('\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n', '\n')
                    texts = re.sub(r'(?<=%)\n+(?=\$)', '\t', texts)
                    texts = texts.replace('\n\n\n\n\n\n\n\n\n\n\n\n', '\t\t')
                    texts = texts.replace('\n\n\n\n\n\n\n\n\n\n\n\n\n', '\t\t\t\t\n')
                    texts = texts.replace('\n\n\n\n\n\n\n\n\n\n\n', '\t\t')
                    texts = texts.replace('\n\n\n\n\n\n\n\n\n\n', '\t\t\t\t\n')
                    texts = re.sub(r'(?<=[a-zA-Z])\n+(?=[0-9])', '\t', texts)
                    texts = re.sub(r'Net Assets\n+', 'Net Assets\t\t', texts)
                    texts = re.sub(r'Other Assets, less Liabilities\n+', 'Other Assets, less Liabilities\t\t', texts)
                    texts = texts.replace('\n\n\n\n\n\n\n\n\n', ' \n')
                    texts = texts.replace('\n\n\n\n\n\n\n\n', '\n')
                    texts = re.sub(r'\n+(?=\d)', '\t', texts)
                    texts = re.sub(r'(?<=\S)\s*\n{7}(?=\s*\d)', '\t', texts)
                    texts = texts.replace('\n\n\n\n\n\n\n', '\n')
                    texts = texts.replace('\n\n\n\n\n\n', '\n')
                    texts = texts.replace('\n\n\n\n', '\t')
                    texts = texts.replace("\n\n\n Net Assets", "\n Net Assets")
                    texts = texts.replace("\n\n Net Assets", "\n Net Assets")
                    texts = texts.replace('\n\n\n', '\t')
                    texts = texts.replace('\n\nSe', '\n')
                    texts = texts.replace('\n\n', '\t')
                    texts = re.sub(r'\n%', '%', texts)
                    texts = re.sub(r'(\S)\n(\S)', r'\1 \2', texts)
                    texts = re.sub(r'(\S)\n(\s*\()', r'\1 \2', texts)
                    texts = re.sub(r'(?<=\S)\n(?=\d)|(?<=\d)\n(?=\S)', '', texts)
                    texts = re.sub(r'^[ \t]+(?=\S)', '', texts, flags=re.MULTILINE)
                    texts = re.sub(r'\t{5,} ?', '\n', texts)
                    texts = re.sub(r'(?<=\d)\t{3,}', '\n', texts)
                    texts = texts.replace('\t Total', '\n Total')
                    texts = texts.replace('$', '')
                    texts = re.sub(r'(\(\w\),)+\*', '', texts)
                    texts = texts.replace('*', '')
                    texts = texts.replace('\t\t', '\t')
                    texts = texts.replace("\t\t\n", "\n")
                    texts = re.sub(r'(?<=\d)\t\n', '\n', texts)

                    if firts_text:
                        full_text_table += f"\n{texts}"
                    else:
                        firts_text= True
                        full_text_table = texts


                    # print(repr(f"\n----------------------------------------------------------------------------------\n{texts}"))
                    # print(f"\n----------------------------------------------------------------------------------\n{texts}")
            # print(full_text_table)
            result = StringIO(full_text_table)
            try:
                df = pd.read_csv(result, sep='\t', header=0, index_col=False)
            except:
                continue
            
            if len(df.columns) > 4:
                df.columns = ["Security", "Initial Acquisition Date", "Shares", "Value", "Percent of Net Assets"]
                df = df[(df.Security != "Security")&(df["Initial Acquisition Date"] != "Initial Acquisition Date")&(df.Shares != "Shares")&(df.Value != "Value")&(df["Percent of Net Assets"] != "Percent of Net Assets (1)")]
            else:
                df.columns = ["Security", "Initial Acquisition Date", "Shares", "Value"]
                df = df[(df.Security != "Security")&(df["Initial Acquisition Date"] != "Initial Acquisition Date")&(df.Shares != "Shares")&(df.Value != "Value")]
            
            
            df["Report Date"] = [dates[j] for i in range(len(df['Initial Acquisition Date'].values))]

            # Create a new column for sections
            df['Type'] = np.nan

            # Forward fill the section column for non-NaN 'Security' rows
            section = None
            for i, row in df.iterrows():
                try:
                    if pd.isna(row['Initial Acquisition Date']) and pd.isna(row['Shares']) and pd.isna(row['Value']) and pd.isna(row['Percent of Net Assets']):
                        section = row['Security']
                except KeyError:
                    if pd.isna(row['Initial Acquisition Date']) and pd.isna(row['Shares']) and pd.isna(row['Value']):
                        section = row['Security']
                
                df.at[i, 'Type'] = section

            try:
                # Drop the rows that are sections
                df = df.dropna(subset=['Initial Acquisition Date', 'Shares', 'Value', 'Percent of Net Assets'])
            except KeyError:
                # Drop the rows that are sections
                df = df.dropna(subset=['Initial Acquisition Date', 'Shares', 'Value'])

            # Reset the index of the DataFrame
            df = df.reset_index(drop=True)

            # Shift values to the right if 'Percent of Net Assets (1)' is empty
            # for i, row in df.iterrows():
            #     if pd.isna(row['Percent of Net Assets']):
            #         if pd.isna(row['Value']):
            #             df.at[i, 'Percent of Net Assets'] = row['Shares']
            #             df.at[i, 'Value'] = row['Initial Acquisition Date']
            #             df.at[i, 'Shares'] = np.nan
            #             df.at[i, 'Initial Acquisition Date'] = np.nan
            #             df.at[i, 'Report Date'] = np.nan
            #         else:
            #             df.at[i, 'Percent of Net Assets'] = row['Value']
            #             df.at[i, 'Value'] = row['Shares']
            #             df.at[i, 'Shares'] = row['Initial Acquisition Date']
            #             df.at[i, 'Initial Acquisition Date'] = np.nan
            #             df.at[i, 'Report Date'] = np.nan
            
            # columns = ["Type", "Security", "Initial Acquisition Date", "Report Date", "Shares", "Value", "Percent of Net Assets"]
            # df = df[columns]

            # print("\n\n")
            # with open("C:/Users/mlinares/Downloads/processed.txt", "w") as f:
            #     f.write(tabulate(df, headers='keys', tablefmt='psql'))

            # df.to_csv("test.csv", index=False)

            df['Value'] = df['Value'].str.replace(',', '')

            # Define the pattern to search for (partial match)
            pattern = re.compile(r'^Investment is issued in a private placement offering')
            original_price_text = soup.find(lambda tag: tag.name == "p" and pattern.search(tag.text)).text

            # Regular expression pattern to match numbers with commas
            pattern = r'\$\d{1,3}(?:,\d{3})*'
            # Find all matches in the text
            matches = re.findall(pattern, original_price_text)
            if matches:
                matches = matches[:-1]
                matches = [x.replace('$', '').replace(',', '') for x in matches]
            
            else:
                date = df['Report Date'][0]
                date_obt = datetime.strptime(date, "%Y-%m-%d")

                pattern = re.compile(r'^\s*As of {0}\xa0{1}, {2}, the aggregate cost'.format(date_obt.strftime("%B"), date_obt.strftime("%d"), date_obt.strftime("%Y")))
                soup = BeautifulSoup(r.text, 'html.parser')
                # paragraphs = soup.findAll('p')
                # for paragraph in paragraphs:
                #     print(repr(paragraph.text))
                original_price_text = soup.find(lambda tag: tag.name == "td" and pattern.search(tag.text))
                if original_price_text == None:
                    pattern = re.compile(r'^\n*\s*As of {0}\xa0{1}, {2}, the aggregate cost'.format(date_obt.strftime("%B"), date_obt.strftime("%d"), date_obt.strftime("%Y")))
                    driver.get(urls[4])
                    text_tag = driver.find_element(By.TAG_NAME, 'text')
                    p_tags = text_tag.find_elements(By.TAG_NAME, 'p')
                    
                    for paragraph in p_tags:
                        # print('\n\n')
                        # print(repr(str(paragraph.text)))
                        pattern = re.compile(r'^\n*\s*As of {0} {1}, {2}, the aggregate cost'.format(date_obt.strftime("%B"), date_obt.strftime("%d"), date_obt.strftime("%Y")))
                        result = pattern.search(paragraph.text)
                        if result:
                            original_price_text = paragraph.text
                            break
                else:
                    original_price_text = original_price_text.text
                # Regular expression pattern to match numbers with commas
                pattern = r'\$\d{1,3}(?:,\d{3})*'
                # Find all matches in the text
                matches = re.findall(pattern, original_price_text)
                matches = matches[:-1]
                matches = [x.replace('$', '').replace(',', '') for x in matches]



            print(original_price_text)
            print(matches)
            print(len(matches))

            df['Original Value'] = matches

            try:
                columns = ["Type", "Security", "Initial Acquisition Date", "Report Date", "Shares", "Original Value", "Value", "Percent of Net Assets"]
                df = df[columns]
            except KeyError:
                columns = ["Type", "Security", "Initial Acquisition Date", "Report Date", "Shares", "Original Value", "Value"]
                df = df[columns]
            
            df_obj = df.select_dtypes('object')

            df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

            df['Report Date'] = pd.to_datetime(df['Report Date'], format="%Y-%m-%d")
            df['Report Date'] = df['Report Date'].apply(lambda x: x.strftime('%m/%d/%Y'))
            df['Initial Acquisition Date'] = pd.to_datetime(df['Initial Acquisition Date'], format='%m/%d/%Y')
            df['Initial Acquisition Date'] = df['Initial Acquisition Date'].apply(lambda x: x.strftime('%m/%d/%Y'))

            # print("\n\n")
            # print(tabulate(df, headers='keys', tablefmt='psql'))
            date = datetime.strptime(df['Report Date'][0], '%m/%d/%Y')
            date = date.strftime('%Y_%m_%d')
            print(date)

            dataframes.append((f'{date}', df))
        
        
            
            # df.to_excel(f"Private Credit Funds.xlsx", sheet_name=f"{date}", index=False)

In [379]:
ticker = 1609211
entity = get_ticker_information(1609211)
url = f"https://www.sec.gov/edgar/search/#/category=custom&ciks=000{ticker}&entityName={entity}(CIK 000{ticker})&forms=N-CSR,N-CSRS"
# print(url)


Consolidated_Schedule_Investments(ticker, entity, url).amg_pantheon_fund()

C:\Users\mlinares\AppData\Local\Temp\ipykernel_25472\1215858170.py:196: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Co-Investments' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, 'Type'] = section

Investment is issued in a private placement offering and is restricted to resale. Each investment may have been purchased
on various dates and for different amounts. The date of the first purchase is reflected under Initial Acquisition Date as shown in the Consolidated Schedule of Investments. As of March 31, 2024, the aggregate cost of each investment restricted
to resale was $23,888,253, $0, $1,092,956, $2,660,401, $3,335,836, $10,829,540, $4,246,276, $11,466,453, $2,141,549, $25,049,556, $4,245,077, $5,159,391, $1,5022,158, $16,379,406, $1,295,640, $4,108,705, $14,077,320, $379,427, $212,427, $7,206,199,
$7,411,756, $1,783,591, $2,174,345, $5,120,000, $17,662,814, $18,991,370, $21,892,836, $5,072,978, $15,000,000, $636,693, $8,105,938, $14,265,651, $10,654,669, $7,799,538, $4,677,399, $7,857,364, $3,033,908, $20,389,205, $1,933,218, $35,020,279,
$4,760,163, $630,216, $2,276,020, $38,256,000, $3,376,573, $5,588,918, $8,429,116, $14,975,392, $2,231,184, $8,632,039, $29,932,910, $1,849,814, $3,767,531, $29,682,491, $18,819,714, $3,520,820, $9,698,069, $19,692,078, $39,967,779, $34,534,744,
$12,195,173, $1,181,442, $69,436, $1,440,658, $3,894,079, $26,203,614, $4,665,331, $3,775,914, $1,211,907, $121,600, $22,400,436, $4,977,228, $5,109,869, $15,545,559, $2,972,962, $196,441, $2,312,991, $3,530,509, $1,551, $0, $8,928,165, $22,206,666,
$15,115,128, $1,435,839, $434,236, $6,107,907, $1,881,126, $2,239,616, $197,042, $3,151,471, $3,150,000, $104,324, $2,990,156, $1,483,360, $3,208,472, $15,358,854, $2,735,375, $58,304, $1,832,026, $6,430,692, $1,844,671, $575,106, $138,779,
$17,838,437, $1,299,863, $6,535,501, $1,142,686, $987,968, $38,543, $4,957,379, $2,803,490, $229,086, $11,356,373, $26,432,361, $1,505,900, $5,382,411, $2,369,073, $4,525,000, $5,688,112, $21,998,119, $10,045,568, $4,417,453, $9,605,342, $3,120,467,
$202,568, $1,573,679, $21,716, $371,458, $585,582, $33,618, $181,543, $1,291,332, $1,887,221, $4,075,482, $11,856,447, $15,291,533, $7,739,549, $2,087,276, $54,230,769, $3,845,214, $67,360,280, $562,493, $1,656,561, $1,116,360, $5,026,600,
$3,071,131, $13,278,347, $5,970,053, $3,086,665, $624,025, $764,592, $798,345, $1,193,870, $5,956,473, $3,529,778, $4,718,213, $2,918,506, $6,228,153, $1,072,944, $184,445, $1,864,678, $1,301,346, $273,120, $3,154,691, $56,742, $3,650,905,
$10,052,848, $196,833, $3,682,369, $34,824,911, $24,451,822, $3,518,028, $1,341,592, $6,913,208, $795,213, $478,871, $62,839,103, $34,552,637, $27,556,719, $28,341,735, $10,284,102, $18,573,697, $4,701,756, $3,905,491, $11,186,678, $3,540,862,
$89,384, $6,692,936, $12,893,413, $3,602,519, $39,143,279, $11,211,952, $6,747,472, $1,796,859, $31,720,586, $1,279,407, $8,436,230, $794,730, $5,276,223, $22,817,353, $1,395,488, $8,808,237, $8,772,132, $15,483,396, $2,256,168, $119,737,
$6,493,815, $995,198, $25,061,653, $25,098,353, $4,748,176, $26,366,807, $18,351,939, $15,060,863, $29,732,161, $100,499, $12,963,803, $25,440,688, $199,191, $465,213, $3,194,449, $3,943,984, $4,175,618, $21,334,587, $10,700,185, $61,740,000,
$39,043,321, $1,294,690, $1,275,524, $4,888,401, $19,132,678, $9,444,860, $3,133,628, $6,597,114, $5,453,578, $94,966, $5,155,969, $12,466,581, $20,223,290, $3,036,602, $98,828, $100,455, $445,831, $22,227,356, $20,151,943, $15,818,661, $5,445,877,
$442,218, $6,036,135, $2,228,540, $3,239,514, $9,526,008, $8,649,185, $6,861,983, $116,911, $10,072,123, $12,349,877, $11,054,690, $365,395, $4,644,647, $2,523,584, $34,262, $59,782, $349,945, $3,107,137, $5,059,831, $6,305,583, $1,072,756,
$16,730,959, $39,664,068, $4,726,696, $3,795,232, $18,037,203, $10,051,099, $963,506 and $4,712,055, respectively, totaling $2,408,843,378
['23888253', '0', '1092956', '2660401', '3335836', '10829540', '4246276', '11466453', '2141549', '25049556', '4245077', '5159391', '1502', '16379406', '1295640', '4108705', '14077320', '379427', '212427', '7206199', '7411756', '1783591', '2174345', '5120000', '17662814', '18991370', '21892836', '5072978', '15000000', '636693', '8105938', '14265651', '10654669', '7799538', '4677399', '7857364', '3033908', '20389205', '1933218', '35020279', '4760163', '630216', '2276020', '38256000', '3376573', '5588918', '8429116', '14975392', '2231184', '8632039', '29932910', '1849814', '3767531', '29682491', '18819714', '3520820', '9698069', '19692078', '39967779', '34534744', '12195173', '1181442', '69436', '1440658', '3894079', '26203614', '4665331', '3775914', '1211907', '121600', '22400436', '4977228', '5109869', '15545559', '2972962', '196441', '2312991', '3530509', '1551', '0', '8928165', '22206666', '15115128', '1435839', '434236', '6107907', '1881126', '2239616', '197042', '3151471', '3150000', '104324', '2990156', '1483360', '3208472', '15358854', '2735375', '58304', '1832026', '6430692', '1844671', '575106', '138779', '17838437', '1299863', '6535501', '1142686', '987968', '38543', '4957379', '2803490', '229086', '11356373', '26432361', '1505900', '5382411', '2369073', '4525000', '5688112', '21998119', '10045568', '4417453', '9605342', '3120467', '202568', '1573679', '21716', '371458', '585582', '33618', '181543', '1291332', '1887221', '4075482', '11856447', '15291533', '7739549', '2087276', '54230769', '3845214', '67360280', '562493', '1656561', '1116360', '5026600', '3071131', '13278347', '5970053', '3086665', '624025', '764592', '798345', '1193870', '5956473', '3529778', '4718213', '2918506', '6228153', '1072944', '184445', '1864678', '1301346', '273120', '3154691', '56742', '3650905', '10052848', '196833', '3682369', '34824911', '24451822', '3518028', '1341592', '6913208', '795213', '478871', '62839103', '34552637', '27556719', '28341735', '10284102', '18573697', '4701756', '3905491', '11186678', '3540862', '89384', '6692936', '12893413', '3602519', '39143279', '11211952', '6747472', '1796859', '31720586', '1279407', '8436230', '794730', '5276223', '22817353', '1395488', '8808237', '8772132', '15483396', '2256168', '119737', '6493815', '995198', '25061653', '25098353', '4748176', '26366807', '18351939', '15060863', '29732161', '100499', '12963803', '25440688', '199191', '465213', '3194449', '3943984', '4175618', '21334587', '10700185', '61740000', '39043321', '1294690', '1275524', '4888401', '19132678', '9444860', '3133628', '6597114', '5453578', '94966', '5155969', '12466581', '20223290', '3036602', '98828', '100455', '445831', '22227356', '20151943', '15818661', '5445877', '442218', '6036135', '2228540', '3239514', '9526008', '8649185', '6861983', '116911', '10072123', '12349877', '11054690', '365395', '4644647', '2523584', '34262', '59782', '349945', '3107137', '5059831', '6305583', '1072756', '16730959', '39664068', '4726696', '3795232', '18037203', '10051099', '963506', '4712055']
276
2024_03_31

C:\Users\mlinares\AppData\Local\Temp\ipykernel_25472\1215858170.py:196: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Co-Investments' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, 'Type'] = section

Investment is issued in a private placement offering and is restricted to resale. Each investment may have been purchased
on various dates and for different amounts. The date of the first purchase is reflected under Initial Acquisition Date as shown in the Consolidated Schedule of Investments. As of September 30, 2023, the aggregate cost of each investment
restricted to resale was $23,706,092, $200,093, $1,204,726, $2,657,341, $3,335,836, $10,829,540, $3,924,009, $11,466,453, $2,141,549, $25,049,556, $4,245,077, $5,159,391, $15,022,159, $16,379,406, $1,295,640, $4,108,705, $14,061,119, $730,167,
$212,427, $7,206,199, $7,411,756, $1,783,591, $2,174,345, $5,120,000, $17,662,814, $18,953,516, $5,072,978, $15,000,000, $636,693, $8,090,514, $14,265,651, $7,799,538, $3,320,212, $7,857,364, $3,033,908, $20,384,096, $1,931,802, $34,999,929,
$4,760,163, $630,216, $2,276,020, $3,376,573, $5,588,918, $8,429,116, $14,975,392, $2,231,184, $7,337,233, $1,849,814, $3,767,531, $29,622,335, $18,819,714, $3,520,819, $9,698,069, $19,692,078, $38,899,491, $34,534,744, $12,178,171, $1,177,003,
$116,344, $1,364,063, $3,892,609, $26,203,614, $4,653,704, $3,775,914, $1,215,960, $20,454,713, $4,977,228, $5,109,869, $15,545,559, $2,972,962, $196,441, $2,312,991, $3,393,333, $1,551, $0, $10,122,166, $15,031,794, $1,434,023, $434,236,
$5,709,265, $1,881,126, $2,239,616, $197,042, $3,096,971, $1,575,000, $114,870, $1,785,335, $1,426,360, $2,676,473, $12,916,634, $2,735,375, $57,699, $632,026, $6,430,692, $700,919, $552,397, $138,779, $16,410,747, $1,361,880, $5,722,675,
$1,135,873, $3,877,379, $2,123,490, $229,086, $8,231,790, $1,505,900, $4,302,206, $2,027,823, $3,725,000, $5,062,556, $18,501,504, $17,823,200, $416,343, $4,406,034, $3,559,929, $197,632, $1,565,421, $21,716, $367,433, $580,050, $33,618, $203,218,
$1,332,922, $1,895,267, $4,075,482, $11,535,850, $2,151,115, $3,845,214, $60,445,536, $1,111,878, $2,984,477, $5,175,244, $3,086,665, $624,025, $832,708, $894,423, $1,244,877, $0, $3,529,778, $4,686,333, $2,918,506, $6,111,248, $1,072,944, $184,445,
$1,855,324, $1,061,502, $303,675, $3,637,885, $9,685,936, $341,220, $3,695,993, $34,825,725, $15,068,447, $1,336,230, $6,804,610, $779,748, $191,474, $34,445,214, $29,062,673, $4,190,961, $3,905,491, $89,384, $38,857,965, $11,174,368, $7,027,833,
$1,789,909, $31,720,586, $1,279,407, $801,824, $22,495,567, $1,395,488, $8,959,190, $8,609,405, $15,405,111, $2,237,398, $158,838, $6,446,148, $963,560, $24,843,305, $4,780,373, $25,283,356, $26,994,430, $18,353,969, $15,261,184, $100,499,
$12,890,166, $25,440,688, $176,882, $379,007, $3,194,449, $3,833,805, $4,226,861, $21,161,693, $10,700,185, $39,043,321, $1,305,256, $1,228,704, $4,888,401, $18,944,266, $9,444,860, $94,966, $5,275,699, $12,466,581, $21,392,352, $4,209,728, $99,631,
$100,455, $445,831, $22,227,356, $20,151,943, $16,533,976, $4,129,353, $442,218, $2,063,653, $5,596,439, $2,805,167, $9,128,978, $8,649,185, $122,230, $10,020,501, $469,369, $4,810,191, $2,493,713, $34,262, $59,782, $349,945, $3,075,367, $5,080,480,
$3,871,325, $4,816,176, $17,869,394, $10,100,241 and $792,216, respectively, totaling $1,725,864,321.
['23706092', '200093', '1204726', '2657341', '3335836', '10829540', '3924009', '11466453', '2141549', '25049556', '4245077', '5159391', '15022159', '16379406', '1295640', '4108705', '14061119', '730167', '212427', '7206199', '7411756', '1783591', '2174345', '5120000', '17662814', '18953516', '5072978', '15000000', '636693', '8090514', '14265651', '7799538', '3320212', '7857364', '3033908', '20384096', '1931802', '34999929', '4760163', '630216', '2276020', '3376573', '5588918', '8429116', '14975392', '2231184', '7337233', '1849814', '3767531', '29622335', '18819714', '3520819', '9698069', '19692078', '38899491', '34534744', '12178171', '1177003', '116344', '1364063', '3892609', '26203614', '4653704', '3775914', '1215960', '20454713', '4977228', '5109869', '15545559', '2972962', '196441', '2312991', '3393333', '1551', '0', '10122166', '15031794', '1434023', '434236', '5709265', '1881126', '2239616', '197042', '3096971', '1575000', '114870', '1785335', '1426360', '2676473', '12916634', '2735375', '57699', '632026', '6430692', '700919', '552397', '138779', '16410747', '1361880', '5722675', '1135873', '3877379', '2123490', '229086', '8231790', '1505900', '4302206', '2027823', '3725000', '5062556', '18501504', '17823200', '416343', '4406034', '3559929', '197632', '1565421', '21716', '367433', '580050', '33618', '203218', '1332922', '1895267', '4075482', '11535850', '2151115', '3845214', '60445536', '1111878', '2984477', '5175244', '3086665', '624025', '832708', '894423', '1244877', '0', '3529778', '4686333', '2918506', '6111248', '1072944', '184445', '1855324', '1061502', '303675', '3637885', '9685936', '341220', '3695993', '34825725', '15068447', '1336230', '6804610', '779748', '191474', '34445214', '29062673', '4190961', '3905491', '89384', '38857965', '11174368', '7027833', '1789909', '31720586', '1279407', '801824', '22495567', '1395488', '8959190', '8609405', '15405111', '2237398', '158838', '6446148', '963560', '24843305', '4780373', '25283356', '26994430', '18353969', '15261184', '100499', '12890166', '25440688', '176882', '379007', '3194449', '3833805', '4226861', '21161693', '10700185', '39043321', '1305256', '1228704', '4888401', '18944266', '9444860', '94966', '5275699', '12466581', '21392352', '4209728', '99631', '100455', '445831', '22227356', '20151943', '16533976', '4129353', '442218', '2063653', '5596439', '2805167', '9128978', '8649185', '122230', '10020501', '469369', '4810191', '2493713', '34262', '59782', '349945', '3075367', '5080480', '3871325', '4816176', '17869394', '10100241', '792216']
233
2023_09_30

C:\Users\mlinares\AppData\Local\Temp\ipykernel_25472\1215858170.py:196: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Co-Investments - 39.1%' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, 'Type'] = section

Investment is issued in a private placement offering and is restricted to resale. Each investment may have been purchased
on various dates and for different amounts. The date of the first purchase is reflected under Initial Acquisition Date as shown in the Consolidated Schedule of Investments. As of March 31, 2023, the aggregate cost of each investment restricted
to resale was $23,691,573, $200,093, $1,204,726, $4,059,584, $3,335,836, $10,829,540, $3,744,845, $10,929,227, $2,141,549, $25,049,556, $4,245,077, $5,159,391, $15,022,158, $16,379,406, $1,295,640, $1,818,176, $14,061,119, $1,111,475, $212,427,
$7,206,199, $7,328,042, $1,783,591, $2,174,345, $5,100,000, $17,662,814, $5,072,978, $15,000,000, $636,693, $8,090,514, $14,219,660, $7,797,897, $3,320,212, $7,857,364, $3,033,908, $2,330,057, $20,041,949, $1,931,802, $4,760,163, $1,154,552,
$2,276,020, $3,376,573, $5,588,918, $8,429,116, $14,975,392, $2,188,775, $7,337,233, $1,849,814, $3,767,531, $18,819,714, $3,520,819, $9,698,069, $19,692,078, $39,967,779, $34,534,744, $11,563,863, $1,177,003, $218,196, $1,313,626, $3,892,609,
$26,189,932, $4,652,874, $3,730,626, $1,139,648, $20,454,713, $4,977,228, $5,109,869, $15,545,559, $2,972,962, $196,441, $2,312,991, $3,393,333, $1,551, $0, $10,122,166, $15,031,794, $1,434,023, $434,236, $5,242,823, $1,727,490, $2,799,759,
$197,042, $3,302,495, $122,604, $1,755,000, $1,425,000, $1,928,500, $10,603,532, $2,735,375, $65,196, $589,757, $6,430,692, $570,085, $754,938, $13,170,462, $5,730,019, $1,221,881, $3,307,243, $1,963,490, $8,231,790, $729,131, $3,327,206,
$1,555,323, $3,250,000, $15,214,772, $13,615,000, $428,225, $416,343, $4,406,034, $4,541,948, $216,430, $1,493,305, $21,716, $367,433, $580,050, $33,618, $215,092, $1,348,371, $1,897,741, $4,140,844, $2,403,402, $3,833,877, $1,125,283, $2,927,069,
$5,215,560, $3,086,665, $624,025, $832,708, $894,423, $1,322,998, $433,399, $3,880,431, $4,667,509, $3,081,331, $6,334,821, $1,072,944, $184,445, $1,855,324, $794,292, $343,119, $3,637,885, $9,237,083, $3,606,337, $35,088,897, $1,092,956,
$5,895,663, $702,796, $31,969,058, $29,062,673, $4,190,961, $3,700,411, $89,384, $11,134,268, $7,068,236, $1,787,254, $31,442,448, $1,277,349, $138,762, $806,644, $22,495,567, $1,416,525, $8,959,190, $8,609,405, $15,247,550, $2,114,571, $130,022,
$6,315,909, $792,065, $24,846,238, $4,794,168, $26,218,960, $27,831,761, $18,340,847, $15,320,365, $344,649, $12,890,166, $12,214,819, $158,076, $285,233, $3,194,449, $3,733,949, $4,462,319, $21,161,694, $10,700,185, $1,330,896, $1,490,810,
$4,830,691, $18,851,317, $9,444,860, $95,045, $5,275,699, $12,466,581, $21,392,352, $5,428,809, $99,529, $100,417, $445,831, $22,227,356, $20,151,943, $16,556,925, $3,472,093, $442,218, $1,916,056, $5,202,843, $2,592,150, $8,901,966, $8,649,185,
$129,870, $10,020,501, $598,011, $4,843,853, $2,534,212, $34,419, $63,008, $350,201, $3,064,384, $4,397,238, $5,019,985, $4,044,634, $17,788,183, and $10,100,241, respectively, totaling $1,438,331,395.
['23691573', '200093', '1204726', '4059584', '3335836', '10829540', '3744845', '10929227', '2141549', '25049556', '4245077', '5159391', '15022158', '16379406', '1295640', '1818176', '14061119', '1111475', '212427', '7206199', '7328042', '1783591', '2174345', '5100000', '17662814', '5072978', '15000000', '636693', '8090514', '14219660', '7797897', '3320212', '7857364', '3033908', '2330057', '20041949', '1931802', '4760163', '1154552', '2276020', '3376573', '5588918', '8429116', '14975392', '2188775', '7337233', '1849814', '3767531', '18819714', '3520819', '9698069', '19692078', '39967779', '34534744', '11563863', '1177003', '218196', '1313626', '3892609', '26189932', '4652874', '3730626', '1139648', '20454713', '4977228', '5109869', '15545559', '2972962', '196441', '2312991', '3393333', '1551', '0', '10122166', '15031794', '1434023', '434236', '5242823', '1727490', '2799759', '197042', '3302495', '122604', '1755000', '1425000', '1928500', '10603532', '2735375', '65196', '589757', '6430692', '570085', '754938', '13170462', '5730019', '1221881', '3307243', '1963490', '8231790', '729131', '3327206', '1555323', '3250000', '15214772', '13615000', '428225', '416343', '4406034', '4541948', '216430', '1493305', '21716', '367433', '580050', '33618', '215092', '1348371', '1897741', '4140844', '2403402', '3833877', '1125283', '2927069', '5215560', '3086665', '624025', '832708', '894423', '1322998', '433399', '3880431', '4667509', '3081331', '6334821', '1072944', '184445', '1855324', '794292', '343119', '3637885', '9237083', '3606337', '35088897', '1092956', '5895663', '702796', '31969058', '29062673', '4190961', '3700411', '89384', '11134268', '7068236', '1787254', '31442448', '1277349', '138762', '806644', '22495567', '1416525', '8959190', '8609405', '15247550', '2114571', '130022', '6315909', '792065', '24846238', '4794168', '26218960', '27831761', '18340847', '15320365', '344649', '12890166', '12214819', '158076', '285233', '3194449', '3733949', '4462319', '21161694', '10700185', '1330896', '1490810', '4830691', '18851317', '9444860', '95045', '5275699', '12466581', '21392352', '5428809', '99529', '100417', '445831', '22227356', '20151943', '16556925', '3472093', '442218', '1916056', '5202843', '2592150', '8901966', '8649185', '129870', '10020501', '598011', '4843853', '2534212', '34419', '63008', '350201', '3064384', '4397238', '5019985', '4044634', '17788183', '10100241']
220
2023_03_31

C:\Users\mlinares\AppData\Local\Temp\ipykernel_25472\1215858170.py:196: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Co-Investments - 46.5%' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, 'Type'] = section

 As of September 30, 2022, the aggregate cost of each investment restricted to resale was $9,666,687, $1,647,504,
$1,367,355, $4,058,519, $3,335,836, $10,829,540, $3,743,598, $9,427,832, $2,141,549, $25,007,955, $4,245,077, $5,125,000, $15,022,158, $16,379,406, $1,295,640, $14,061,119, $1,272,948, $211,028, $7,206,199, $7,328,042, $1,783,591, $367,521,
$2,174,345, $17,626,907, $5,043,774, $15,000,000, $636,693, $8,090,514, $7,797,897, $3,371,449, $7,857,364, $3,033,908, $2,330,057, $20,041,949, $2,204,277, $4,760,163, $1,154,552, $2,276,020, $3,376,573, $5,588,918, $8,423,573, $14,975,392,
$2,188,775, $7,337,233, $1,849,814, $3,767,531, $3,520,819, $9,698,069, $19,692,078, $39,951,807, $34,515,345, $11,547,290, $1,167,380, $218,196, $1,301,204, $3,892,609, $21,341,770, $4,602,662, $3,782,484, $1,087,790, $4,977,228, $5,109,869,
$15,545,559, $2,903,362, $196,441, $2,312,991, $3,393,333, $1,551, $0, $10,122,166, $15,031,794, $1,429,615, $434,236, $5,242,823, $1,727,490, $2,799,759, $200,003, $3,043,401, $125,416, $832,200, $532,000, $9,368,481, $2,716,621, $65,196,
$4,428,349, $819,829, $8,961,660, $2,767,267, $1,224,329, $6,252,932, $3,327,206, $1,240,323, $1,750,000, $13,096,177, $428,225, $416,343, $4,395,261, $5,221,782, $213,629, $1,390,836, $21,716, $372,373, $587,308, $33,618, $213,488, $1,345,398,
$1,943,458, $4,140,844, $2,609,316, $3,833,877, $1,115,839, $2,887,528, $4,268,499, $3,597,199, $624,025, $832,708, $914,528, $1,444,311, $1,778,561, $3,880,431, $4,644,180, $3,081,331, $6,361,569, $1,072,944, $184,445, $2,060,363, $344,990,
$350,985, $3,624,547, $8,246,544, $3,584,264, $35,088,897, $1,073,672, $5,856,049, $677,584, $18,926, $28,918,968, $4,190,961, $6,140,594, $89,384, $11,096,396, $1,745,391, $138,745, $806,578, $22,495,567, $1,416,525, $8,959,190, $8,609,405,
$15,247,550, $2,114,571, $230,676, $6,144,622, $803,998, $4,870,043, $15,207,560, $344,649, $12,807,580, $12,214,819, $156,835, $261,529, $2,824,184, $3,621,245, $4,414,452, $20,917,106, $10,700,185, $1,283,871, $1,533,192, $292,572, $4,830,691,
$18,851,317, $9,444,860, $104,474, $5,275,699, $10,161,458, $22,304,688, $8,790,395, $99,522, $100,417, $445,831, $22,227,356, $17,114,087, $2,456,723, $442,218, $1,916,056, $5,202,843, $2,535,402, $8,901,966, $8,649,185, $157,266, $9,925,663,
$636,838, $4,812,069, $2,544,232, $34,419, $455,687, $381,454, $3,161,217, $3,926,745, $4,220,305, $5,180,600, $17,788,183, and $10,098,700, respectively, totaling $1,133,290,792.
['9666687', '1647504', '1367355', '4058519', '3335836', '10829540', '3743598', '9427832', '2141549', '25007955', '4245077', '5125000', '15022158', '16379406', '1295640', '14061119', '1272948', '211028', '7206199', '7328042', '1783591', '367521', '2174345', '17626907', '5043774', '15000000', '636693', '8090514', '7797897', '3371449', '7857364', '3033908', '2330057', '20041949', '2204277', '4760163', '1154552', '2276020', '3376573', '5588918', '8423573', '14975392', '2188775', '7337233', '1849814', '3767531', '3520819', '9698069', '19692078', '39951807', '34515345', '11547290', '1167380', '218196', '1301204', '3892609', '21341770', '4602662', '3782484', '1087790', '4977228', '5109869', '15545559', '2903362', '196441', '2312991', '3393333', '1551', '0', '10122166', '15031794', '1429615', '434236', '5242823', '1727490', '2799759', '200003', '3043401', '125416', '832200', '532000', '9368481', '2716621', '65196', '4428349', '819829', '8961660', '2767267', '1224329', '6252932', '3327206', '1240323', '1750000', '13096177', '428225', '416343', '4395261', '5221782', '213629', '1390836', '21716', '372373', '587308', '33618', '213488', '1345398', '1943458', '4140844', '2609316', '3833877', '1115839', '2887528', '4268499', '3597199', '624025', '832708', '914528', '1444311', '1778561', '3880431', '4644180', '3081331', '6361569', '1072944', '184445', '2060363', '344990', '350985', '3624547', '8246544', '3584264', '35088897', '1073672', '5856049', '677584', '18926', '28918968', '4190961', '6140594', '89384', '11096396', '1745391', '138745', '806578', '22495567', '1416525', '8959190', '8609405', '15247550', '2114571', '230676', '6144622', '803998', '4870043', '15207560', '344649', '12807580', '12214819', '156835', '261529', '2824184', '3621245', '4414452', '20917106', '10700185', '1283871', '1533192', '292572', '4830691', '18851317', '9444860', '104474', '5275699', '10161458', '22304688', '8790395', '99522', '100417', '445831', '22227356', '17114087', '2456723', '442218', '1916056', '5202843', '2535402', '8901966', '8649185', '157266', '9925663', '636838', '4812069', '2544232', '34419', '455687', '381454', '3161217', '3926745', '4220305', '5180600', '17788183', '10098700']
202
2022_09_30

C:\Users\mlinares\AppData\Local\Temp\ipykernel_25472\1215858170.py:196: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Co-Investments - 44.8%' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, 'Type'] = section

As of March 31, 2022, the aggregate cost of each investment restricted to resale was $9,656,000, $1,647,504, $1,367,355, $4,058,519, $3,335,836, $10,790,378, $3,496,384, $9,427,832, $4,026,221, $4,245,077, $14,945,800, $16,352,603, $1,295,640, $14,061,119, $1,272,948, $210,915, $7,206,199, $7,328,042, $1,783,591, $367,521, $2,174,345, $15,000,000, $636,693, $7,797,897, $3,378,493, $7,857,364, $3,033,908, $2,330,057, $2,204,277, $4,680,550, $1,154,552, $2,145,338, $3,376,573, $5,588,918, $8,416,154, $14,963,066, $2,188,775, $7,337,233, $1,849,814, $3,767,531, $3,520,819, $9,698,069, $19,692,078, $11,524,633, $1,167,380, $218,196, $1,262,509, $3,891,786, $21,313,503, $4,602,662, $3,775,913, $1,094,361, $5,100,000, $15,545,559, $2,903,362, $196,441, $2,312,991, $3,393,333, $1,551, $0, $10,038,500, $1,429,615, $434,236, $5,222,440, $1,727,490, $2,799,759, $263,162, $2,740,085, $125,416, $7,599,812, $2,678,796, $64,051, $923,934, $11,918,821, $2,144,473, $1,182,461, $3,312,418, $2,340,000, $630,000, $900,000, $9,551,785, $416,343, $4,395,261, $5,567,169, $231,955, $1,278,226, $21,716, $375,601, $627,500, $33,618, $212,477, $1,401,039, $2,546,777, $5,046,679, $2,614,499, $3,683,749, $3,509,825, $624,025, $1,010,541, $954,750, $1,444,311, $2,084,279, $3,993,037, $6,426,266, $165,218, $3,624,547, $3,584,264, $35,088,897, $18,926, $4,190,961, $6,140,594, $89,384, $11,052,532, $1,718,492, $138,694, $811,819, $7,556,524, $15,247,550, $2,061,162, $5,001,945, $15,059,192, $12,828,937, $5,863,278, $3,595,177, $4,260,405, $20,613,482, $10,700,185, $292,572, $4,788,435, $18,613,130, $9,444,860, $109,155, $99,501, $100,417, $445,660, $16,765,714, $7,365,939, $9,599,185, $9,925,663, $734,766, $4,752,124, $2,853,867, $34,419, $454,641, $381,454, $3,128,796, $3,627,595, $4,524,855, $5,551,276, and $13,304,232, respectively, totaling $730,809,486.
['9656000', '1647504', '1367355', '4058519', '3335836', '10790378', '3496384', '9427832', '4026221', '4245077', '14945800', '16352603', '1295640', '14061119', '1272948', '210915', '7206199', '7328042', '1783591', '367521', '2174345', '15000000', '636693', '7797897', '3378493', '7857364', '3033908', '2330057', '2204277', '4680550', '1154552', '2145338', '3376573', '5588918', '8416154', '14963066', '2188775', '7337233', '1849814', '3767531', '3520819', '9698069', '19692078', '11524633', '1167380', '218196', '1262509', '3891786', '21313503', '4602662', '3775913', '1094361', '5100000', '15545559', '2903362', '196441', '2312991', '3393333', '1551', '0', '10038500', '1429615', '434236', '5222440', '1727490', '2799759', '263162', '2740085', '125416', '7599812', '2678796', '64051', '923934', '11918821', '2144473', '1182461', '3312418', '2340000', '630000', '900000', '9551785', '416343', '4395261', '5567169', '231955', '1278226', '21716', '375601', '627500', '33618', '212477', '1401039', '2546777', '5046679', '2614499', '3683749', '3509825', '624025', '1010541', '954750', '1444311', '2084279', '3993037', '6426266', '165218', '3624547', '3584264', '35088897', '18926', '4190961', '6140594', '89384', '11052532', '1718492', '138694', '811819', '7556524', '15247550', '2061162', '5001945', '15059192', '12828937', '5863278', '3595177', '4260405', '20613482', '10700185', '292572', '4788435', '18613130', '9444860', '109155', '99501', '100417', '445660', '16765714', '7365939', '9599185', '9925663', '734766', '4752124', '2853867', '34419', '454641', '381454', '3128796', '3627595', '4524855', '5551276', '13304232']
150
2022_03_31

C:\Users\mlinares\AppData\Local\Temp\ipykernel_25472\1215858170.py:196: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Co-Investments - 44.6%' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, 'Type'] = section

Investment is issued in a private placement offering and is restricted to resale. Each investment may have been purchased
on various dates and for different amounts. The date of the first purchase is reflected under Initial Acquisition Date as shown in the Consolidated Schedule of Investments. As of September 30, 2021, the aggregate cost of each investment
restricted to resale was $500,000, $3,088,460, $1,383,560, $4,057,409, $9,416,447, $3,335,836, $3,496,384, $4,026,221, $3,307,369, $1,295,640, $1,291,817, $209,516, $347,896, $7,168,328, $7,296,935, $1,783,591, $367,521, $2,174,345, $15,000,000,
$636,693, $7,797,897, $3,378,493, $7,759,331, $3,033,908, $2,330,057, $2,537,113, $2,832,495, $4,699,631, $1,152,642, $1,884,368, $3,376,573, $5,576,044, $8,416,154, $2,188,775, $1,842,781, $4,065,782, $15,434, $11,615, $3,520,819, $9,685,440,
$10,252,139, $1,167,380, $216,532, $871,279, $3,891,786, $4,985,964, $3,457,191, $1,094,360, $2,757,880, $196,441, $3,012,109, $3,393,333, $1,551, $966,025, $1,429,615, $434,236, $1,727,490, $2,799,759, $263,162, $2,380,942, $125,416, $2,487,343,
$56,304, $983,166, $829,210, $1185,163, $7,230,769, $457,570, $4,354,226, $5,656,939, $195,249, $1,094,631, $20,324, $372,140, $618,275, $33,618, $268,039, $1,364,286, $2,992,107, $2,883,952, $3,464,530, $623,905, $1,032,590, $980,394, $1,468,482,
$3,062,578, $3,979,504, $55,165, $6,379,011, $3,612,191, $3,872,172, $185,160, $4,165,990, $5,620,413, $89,384, $1,670,154, $138,677, $811,753, $7,549,543, $15,237,500, $2,817,958, $5,058,402, $12,743,779, $4,822,947, $3,575,386, $4,063,488,
$3,205,534, $3,170,456, $4,788,435, $9,434,179, $133,053, $99,494, $132,235, $445,660, $9,798,355, $9,599,185, $2,863,513, $34,419, $384,920, and $5,915,352, respectively, totaling $371,883,067.
['500000', '3088460', '1383560', '4057409', '9416447', '3335836', '3496384', '4026221', '3307369', '1295640', '1291817', '209516', '347896', '7168328', '7296935', '1783591', '367521', '2174345', '15000000', '636693', '7797897', '3378493', '7759331', '3033908', '2330057', '2537113', '2832495', '4699631', '1152642', '1884368', '3376573', '5576044', '8416154', '2188775', '1842781', '4065782', '15434', '11615', '3520819', '9685440', '10252139', '1167380', '216532', '871279', '3891786', '4985964', '3457191', '1094360', '2757880', '196441', '3012109', '3393333', '1551', '966025', '1429615', '434236', '1727490', '2799759', '263162', '2380942', '125416', '2487343', '56304', '983166', '829210', '118', '7230769', '457570', '4354226', '5656939', '195249', '1094631', '20324', '372140', '618275', '33618', '268039', '1364286', '2992107', '2883952', '3464530', '623905', '1032590', '980394', '1468482', '3062578', '3979504', '55165', '6379011', '3612191', '3872172', '185160', '4165990', '5620413', '89384', '1670154', '138677', '811753', '7549543', '15237500', '2817958', '5058402', '12743779', '4822947', '3575386', '4063488', '3205534', '3170456', '4788435', '9434179', '133053', '99494', '132235', '445660', '9798355', '9599185', '2863513', '34419', '384920', '5915352']
120
2021_09_30

C:\Users\mlinares\AppData\Local\Temp\ipykernel_25472\1215858170.py:196: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Co-Investments - 43.1%' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, 'Type'] = section

Investment is issued in a private placement offering and is restricted to resale. Each investment may have been purchased
on various dates and for different amounts. The date of the first purchase is reflected under Initial Acquisition Date as shown in the Consolidated Schedule of Investments. As of March 31, 2021, the aggregate cost of each investment restricted
to resale was $500,000, $3,088,460, $1,383,561, $4,057,409, $3,335,836, $3,496,384, $4,023,888, $3,307,369, $1,295,640, $1,291,817, $208,816, $346,321, $1,783,591, $367,521, $2,174,345, $1,240,245, $3,378,493, $3,033,908, $2,330,057, $2,537,113,
$2,822,051, $4,699,631, $1,152,643, $1,743,820, $3,376,573, $2,188,776, $1,842,781, $4,065,782, $15,434, $1,598,735, $4,091,836, $1,157,906, $216,532, $1,171,261, $3,890,745, $4,973,072, $3,561,702, $989,849, $2,642,265, $196,441, $3,012,109,
$3,393,333, $1,551, $3,198,256, $1,429,616, $1,191,349, $1,727,490, $2,799,759, $263,162, $2,339,263, $125,416, $2,902,081, $63,402, $1,108,549, $1,061,544, $446,563, $4,354,226, $5,656,939, $223,883, $918,842, $18,788, $385,400, $968,261, $31,307,
$305,472, $1,241,888, $2,942,575, $2,883,952, $3,364,023, $623,905, $1,249,472, $984,483, $1,642,256, $3,490,584, $3,979,504, $77,821, $3,599,106, $3,886,229, $2,195,521, $4,165,990, $114,286, $2,490,235, $138,502, $836,368, $2,788,539, $5,023,508,
$3,844,096, $3,554,349, $3,283,133, $3,170,456, $4,788,435, $134,275, $99,470, $132,055, $445,660, $3,944,616, $36,155 and $429,189, respectively, totaling $199,085,806.
['500000', '3088460', '1383561', '4057409', '3335836', '3496384', '4023888', '3307369', '1295640', '1291817', '208816', '346321', '1783591', '367521', '2174345', '1240245', '3378493', '3033908', '2330057', '2537113', '2822051', '4699631', '1152643', '1743820', '3376573', '2188776', '1842781', '4065782', '15434', '1598735', '4091836', '1157906', '216532', '1171261', '3890745', '4973072', '3561702', '989849', '2642265', '196441', '3012109', '3393333', '1551', '3198256', '1429616', '1191349', '1727490', '2799759', '263162', '2339263', '125416', '2902081', '63402', '1108549', '1061544', '446563', '4354226', '5656939', '223883', '918842', '18788', '385400', '968261', '31307', '305472', '1241888', '2942575', '2883952', '3364023', '623905', '1249472', '984483', '1642256', '3490584', '3979504', '77821', '3599106', '3886229', '2195521', '4165990', '114286', '2490235', '138502', '836368', '2788539', '5023508', '3844096', '3554349', '3283133', '3170456', '4788435', '134275', '99470', '132055', '445660', '3944616', '36155', '429189']
98
2021_03_31

C:\Users\mlinares\AppData\Local\Temp\ipykernel_25472\1215858170.py:196: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Co-Investments - 56.0%' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, 'Type'] = section

Investment is issued in a private placement offering and is restricted to resale. Each investment may have been purchased
on various dates and for different amounts. The date of the first purchase is reflected under Initial Acquisition Date as shown in the Consolidated Schedule of Investments. As of September 30, 2020, the aggregate cost of each investment
restricted to resale was $500,000, $3,927,435, $1,383,560, $4,057,409, $3,335,836, $4,018,888, $3,130,747, $1,295,640, $1,426,048, $451,888, $345,534, $1,614,019, $367,521, $2,174,345, $1,240,245, $3,378,493, $3,029,898, $2,330,057, $2,537,113,
$2,028,921, $1,524,817, $3,376,573, $2,188,776, $1,842,781, $4,065,782, $4,425,434, $1,598,735, $4,091,836, $1,157,906, $498,260, $222,654, $1,089,591, $3,887,087, $3,133,164, $3,457,191, $1,094,360, $2,318,544, $196,441, $3,012,109, $3,393,333,
$1,551, $3,198,256, $1,425,351, $1,191,349, $4,454,880, $2,799,759, $263,162, $2,007,640, $125,416, $2,173,467, $53,066, $1,001,053, $973,245, $446,563, $4,354,226, $2,928,154, $648,764, $1,239,008, $1,173,732, $1,761,281, $3,490,584, $3,965,971,
$89,309, $1,910,143, $116,046, $136,756, $920,150, $2,769,721, $5,066,496, $3,554,349, $3,261,719, $2,381,645, $4,480,114, $298,718, $3,510,252, $36,155 and $431,422, respectively, totaling $157,788,444.
['500000', '3927435', '1383560', '4057409', '3335836', '4018888', '3130747', '1295640', '1426048', '451888', '345534', '1614019', '367521', '2174345', '1240245', '3378493', '3029898', '2330057', '2537113', '2028921', '1524817', '3376573', '2188776', '1842781', '4065782', '4425434', '1598735', '4091836', '1157906', '498260', '222654', '1089591', '3887087', '3133164', '3457191', '1094360', '2318544', '196441', '3012109', '3393333', '1551', '3198256', '1425351', '1191349', '4454880', '2799759', '263162', '2007640', '125416', '2173467', '53066', '1001053', '973245', '446563', '4354226', '2928154', '648764', '1239008', '1173732', '1761281', '3490584', '3965971', '89309', '1910143', '116046', '136756', '920150', '2769721', '5066496', '3554349', '3261719', '2381645', '4480114', '298718', '3510252', '36155', '431422']
77
2020_09_30

C:\Users\mlinares\AppData\Local\Temp\ipykernel_25472\1215858170.py:196: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Co-Investments - 66.2%' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, 'Type'] = section

Investment is issued in a private placement offering and is restricted to resale. Each investment may have been purchased
on various dates and for different amounts. The date of the first purchase is reflected under Initial Acquisition Date as shown in the Schedule of Investments. As of March 31, 2019, the aggregate cost of each investment restricted to resale was
$500,000, $3,914,417, $561,231, $1,569,292, $4,042,827, $4,005,000, $1,295,640, $2,917,147, $365,871, $486,687, $1,608,000, $1,779,735, $2,174,345, $1,240,245, $2,330,799, $2,159,956, $2,180,760, $1,842,781, $1,590,000, $1,153,003, $497,736,
$196,370, $817,852, $3,052,699, $3,457,560, $1,108,282, $0, $424,164, $1,964,764, $316,480, $2,623,238, $3,390,965, $1,551, $3,168,777, $1,425,351, $2,360,233, $263,162, $164,041, $125,416, $570,323, $48,538, $824,859, $658,481, $437,820,
$2,670,745, $2,116,430, $3,414,446, $70,741, $143,052, $114,191, $317,359, $37,591 and $449,700, respectively, totaling $74,950,653.
['500000', '3914417', '561231', '1569292', '4042827', '4005000', '1295640', '2917147', '365871', '486687', '1608000', '1779735', '2174345', '1240245', '2330799', '2159956', '2180760', '1842781', '1590000', '1153003', '497736', '196370', '817852', '3052699', '3457560', '1108282', '0', '424164', '1964764', '316480', '2623238', '3390965', '1551', '3168777', '1425351', '2360233', '263162', '164041', '125416', '570323', '48538', '824859', '658481', '437820', '2670745', '2116430', '3414446', '70741', '143052', '114191', '317359', '37591', '449700']
53
2019_03_31

C:\Users\mlinares\AppData\Local\Temp\ipykernel_25472\1215858170.py:196: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Co-Investments - 58.6%' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, 'Type'] = section

Investment is issued in a private placement offering and is restricted to resale. Each investment may have been
purchased on various dates and for different amounts. The date of the first purchase is reflected under Initial Acquisition Date as shown in the Consolidated Schedule of Investments. As of September 30, 2019, the aggregate cost of each
investment restricted to resale was $500,000, $3,914,417, $1,569,873, $4,056,001, $4,017,599, $1,295,640, $2,886,893, $417,069, $342,384, $1,608,000, $367,521, $2,174,345, $1,240,245, $2,330,799, $3,391,185, $1,799,073, $3,333,333, $2,180,759,
$1,842,781, $1,590,000, $1,157,906, $497,736, $222,654, $901,787, $3,880,000, $3,094,277, $3,460,049, $1,087,789, $0, $419,454, $1,964,764, $196,441, $2,623,238, $3,393,269, $1,551, $3,168,777, $1,425,351, $1,843,522, $263,162, $558,815, $125,416,
$654,648, $49,962, $879,101, $578,783, $439,105, $764,028, $2,109,154, $3,468,698, $3,940,840, $57,076, $122,980, $116,046, $3,199,498, $299,379, $36,711 and $430,676, respectively, totaling $88,290,560.
['500000', '3914417', '1569873', '4056001', '4017599', '1295640', '2886893', '417069', '342384', '1608000', '367521', '2174345', '1240245', '2330799', '3391185', '1799073', '3333333', '2180759', '1842781', '1590000', '1157906', '497736', '222654', '901787', '3880000', '3094277', '3460049', '1087789', '0', '419454', '1964764', '196441', '2623238', '3393269', '1551', '3168777', '1425351', '1843522', '263162', '558815', '125416', '654648', '49962', '879101', '578783', '439105', '764028', '2109154', '3468698', '3940840', '57076', '122980', '116046', '3199498', '299379', '36711', '430676']
57
2019_09_30